body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tabs{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #428BCA;
  border-radius: 15px;
}

.tabs a{
  
  background-color:  #000000;
  
}
.separate{
    border-collapse: separate;
    border-spacing: 0 15px;
}

.new{
 
  background-color:  #11009e;
  padding: 15px 380px;
  border-radius: 10px;
  
}

.way{
  background-color:  #428BCA;
}

.topic a{
  font-size: larger;
}

.map{
 margin-left: 9pc;
 
}

.content{
  width: 300px;
  display: flex;
  margin: 80px;
}


.subContent{
  width: 300px;
  display: flex ;
}

.selector{
  width: 300px;
  display: flex;
  margin: 80px;
}

.custom-button {
  background-color: #4CAF50; /* Set the background color */
  color: #4CAF50; /* Set the text color */
  padding: 10px 20px; /* Set the padding */
  border: none; /* Remove the border */
  border-radius: 4px; /* Set the border radius */
  cursor: pointer; /* Set the cursor to a pointer */
  font-size: 16px; /* Set the font size */
}

.custom-button:hover {
  background-color: #45a049; /* Set the background color on hover */
}