<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Bootstrap Login Form Example</title>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <!--import awsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--import bootstrap framework-->
    <link rel="stylesheet" href="http://167.71.198.111:5000/static/css/style.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="http://167.71.198.111:5000/static/css/bootstrap.min.css">
    <!-- Demo CSS -->
    <link rel="stylesheet" href="http://167.71.198.111:5000/static/css/demo.css">
</head>

<body>

    <div class="dashboard_container">

        <div class="dashboard-center-container">
<h1>{{ value }}</h1>
            <div class="container dashboard-shadow-container" style="border-radius: 20px;">
                <div class="row">
                    <!--Main container-->
                    <div class="col-md-2">
                        <!--menu section-->
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="http://167.71.198.111:5000/day" style="color: #11009e;"><i
                                        class="fa fa-tachometer fa-3x"></i></a>
                                <!--Use proper awsome font as icon/refer orignal dashboard-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://167.71.198.111:5000/calendar"><i class="fa fa-calendar fa-3x" style="color: #11009e;"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://167.71.198.111:5000/settings"><i class="fa fa-cogs fa-3x" style="color: #11009e;"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"href="http://167.71.198.111:5000/profile"><i class="fa fa-user fa-3x" style="color: #11009e;"></i></a>
                            </li>
                        </ul>
                    </div>

                    <!--History panel section-->
                    <div class="col-md-10">
                    
                        <h1><center><b><u>Last Ride</u></b></center></h1>
                        <div id="main" style="flex: 1; display: flex;">
                       <div style="width: 200px;height: 100px; border: 10px solid rgb(101, 40, 247);"><h2><b><i>Heart Rate:</i></b></h2><br><h3 id="heart"></h3></div>
                       <div style="width: 200px;height: 100px; border: 10px solid rgb(101, 40, 247);"><h2><b><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Altitude:</i></b></h2><h3 id="altitude"></h3></div>
                       <div style="width: 200px;height: 100px; border: 10px solid rgb(101, 40, 247);"><h2><b><i>Environment Temperature:</i></b></h2><h3 id="environmentT"></h3></div>
                       <div style="width: 200px;height: 100px; border: 10px solid rgb(101, 40, 247);"><h2>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<b><i>Humidity:</i></b></h2><h3 id="humidity"></h3></div>
                       <div style="width: 200px;height: 100px; border: 10px solid rgb(101, 40, 247);"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><i>Distance:</i></b></h2><h3 id="distance"></h3></div>
                       <div style="width: 200px;height: 100px; border: 10px solid rgb(101, 40, 247);"><h2><b><i>Body Temperature:</i></b></h2><h3 id="bodyT"></h3></div>
                       <script>
                        fetch('http://167.71.198.111:5000/onlysummary/{{ value }}')
                          .then(response => response.json())
                          .then(data => {
                            document.getElementById("heart").textContent = data.hrtRate;
                            document.getElementById("altitude").textContent = data.alt;
                            document.getElementById("environmentT").textContent = data.envtemp;
                            document.getElementById("humidity").textContent = data.hum;
                            document.getElementById("distance").textContent = data.dst;
                            document.getElementById("bodyT").textContent = data.bdyTemp;
                          })
                          .catch(error => console.error('Error fetching data:', error));
                      </script>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>